@page "/"

<PageTitle>Home</PageTitle>

<div class="canvas">
    <CanvasManager @ref="_canvasManager" />
    <div class="status">
        Type any <kbd>key</kbd> to start drawing on the canvas.
    </div>
</div>



