.status {
    padding: 8px;
    text-align: center;
}

kbd {
    display: inline-block;
    padding: 1px 4px;
    font-size: 0.8em;
    line-height: 1.4;
    color: #555;
    background-color: #f7f7f9;
}