.blazorex-canvas-container {
    z-index: 1;
    position: fixed;
    opacity: 1;
    background-color: black;
    width: 100%;
    height: 100%
}

.blazorex-canvas-container.primary {
    z-index: 100;
}