name: Build

on:
  workflow_dispatch: 
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:

      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Setup .NET Core @ Latest
        uses: actions/setup-dotnet@v1        
        with:
            dotnet-version: '8.0.x'

      - name: Build
        run: dotnet build ./src/Blazorex.sln
